@CHARSET "UTF-8";

#addFormContent {
    border: 1px solid rgb(204, 204, 204);
    padding: 20px;
    background: #f6f6f6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.error-message {
  display: none;
}

.badge {
    padding: 0;
    cursor: help;
    margin-left: 5px;
}
