@CHARSET "UTF-8";

#recoverPasswordForm {
	width: 420px ;
	height: 120px;
	margin-left: auto ;
	margin-right: auto ;
	border: 1px solid rgb(204, 204, 204);
	padding: 20px;
	background: #f6f6f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}